{% for item in items %}
  {% set talkDescription = item.content['#node'].field_talk_description[0].value %}
  <div class="speaker__talk">
    <h2>{{ item.content }}</h2>
    <p>{{ talkDescription|length > 400 ? talkDescription|slice(0, 400)|raw ~ '…' : talkDescription|raw }}</p>
</div>
{% endfor %}
