{% for item in items %}
  {# description[index] and title[index] are from preprocess function#}
  {% set talkDescription = description[loop.index] %}
  {% set talkTitle = title[loop.index] %}
  {% set talkNode = item.content['#node'].nid[0].value %}
  <div class="speaker__talk">
    <h2><a href="{{ url('entity.node.canonical', {'node': talkNode}) }}">{{ talkTitle }}</a></h2>
    <p>{{ talkDescription|length > 400 ? talkDescription|slice(0, 400)|raw ~ '…' : talkDescription|raw }}</p>
</div>
{% endfor %}
