<div class="text-card node--{{ node.id }}">
{% if content.field_card_image[0]['#media'] is defined %}
    <div class="text-card__media">  
    {{ content.field_card_image }}
    </div>
{% endif %}
    <div class="text-card-content-wrapper">
        {% if node.field_card_title is not empty %}
        <h3 class="card__title">{{ node.field_card_title.0.value|raw }}</h3>
        {% endif %}
        {% if node.field_card_text is not empty %}
        {{ node.field_card_text.0.value|raw }}
        {% endif %}
    </div>
</div>
