{% if logged_in %}
  {{ page.admin }}
  {% endif %}

<header class="site-header" role="banner">
  {{ page.header }}
</header>

<main id="main-content" role="main">
  <div class="content-wrapper user-wrapper">
    <h1>Password reset</h1>
    {{ page.content }}
  </div>
</main>

{% include '@interledger/partials/footer.html.twig' %}
