{% if logged_in %}
  {{ page.admin }}
  {% endif %}

<header class="site-header" role="banner">
  {{ page.header }}
</header>

<main id="main-content" role="main">
  <a id="main-content-anchor" class="visually-hidden" tabindex="-1"></a>
  {{ page.content }}
</main>

{% include '@interledger/partials/footer.html.twig' %}
