{% if logged_in %}
  {{ page.admin }}
  {% endif %}

<header class="site-header" role="banner">
  {{ page.header }}
</header>

<main id="main-content" role="main">
  {{ page.content }}
</main>

{% include '@interledger/partials/footer.html.twig' %}
