<div class="content-wrapper team-wrapper">
  <hr style="padding-block-start:var(--space-m);margin-block-start:var(--space-m);border:0;border-block-start:2px solid var(--color-gray)">

  {{ rows }}
</div>
