<div class="content-wrapper">
  <h2 class="podcast__heading">{{ view.getTitle() }}</h2>
  <div class="podcast-wrapper grid-layout">
    {{ rows }}
  </div>
  <footer class="podcast__footer">{{ footer }}</footer>
</div>
