code {
  font-family: monospace;
  background-color: var(--color-inline-code-bg);
  padding: 0.125rem 0.375rem;
  border-radius: 6px;
  font-size: 0.95em;
  white-space: nowrap;
}

.codeblock {
  font-family: monospace;
  background-color: var(--color-inline-code-bg);
  padding: 0.125rem 0.375rem;
  border-radius: 6px;
  font-size: 0.95em;
  white-space: nowrap;
}
