section {
  padding-inline: 5%;
}

.content-wrapper {
  max-width: var(--max-content-width);
  margin-inline: auto;
}

/* Two column layout */
.layout--twocol-section--50-50 {
  gap: var(--space-m);
  justify-content: center;
  align-items: center;
  padding-inline: 5%;
}

@media screen and (min-width: 1210px) {
  .layout--twocol-section--50-50 {
    padding-inline: 0;
  }
}

@media screen and (min-width: 840px) {
  .layout--twocol-section--50-50 {
    max-width: var(--max-content-width);
    margin-inline: auto;
    flex-wrap: initial;
    gap: var(--space-m);
  }
}

@media screen and (min-width: 40em) {
  .layout--twocol-section.layout--twocol-section--50-50
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--50-50
    > .layout__region--second {
    flex: 1 1 50%;
  }
}

.layout--twocol-section--50-50 section {
  padding-inline: 0;
}

/* Four column layout */
@media screen and (min-width: 421px) and (max-width: 640px) {
  .layout--fourcol-section--25-25-25-25 > .layout__region {
    flex: 1 1 50%;
  }
}

/* Spacer block styles */
.layout-spacer {
  border: 0;
  padding-block: var(--space-m);
}
