.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav ul {
  list-style: none;
  padding-inline-start: 0;
  justify-content: center;
}

.site-nav a {
  display: block;
  color: currentColor;
  transition: text-decoration 200ms ease-in-out;
  white-space: nowrap;
}

.site-logo {
  width: 11em;
  flex: none;
}

.site-nav__links.main-menu .has-submenu > a::after {
  content: url(../img/arrow-main-menu.svg);
}

.site-nav__links.summit-menu .has-submenu > a::after {
  content: url(../img/arrow-summit-menu.svg);
}

.site-nav__links .has-submenu > a::after {
  display: inline-block;
  width: 9px;
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.site-nav__links .has-submenu > a[aria-expanded="true"]::after,
.site-nav__links .has-submenu > a:hover::after,
.site-nav__links .has-submenu:has(a:hover) > a::after {
  transform: translateY(30%) rotate(180deg);
}

.site-nav__links a {
  text-decoration: underline;
  text-decoration-color: transparent; 
  text-decoration-thickness: 2px;
  padding: var(--space-s) var(--space-2xs);
}

.site-nav__links a.is-active, .site-nav__links .is-active > a {
  text-decoration-color: currentColor; 
  text-underline-offset: 8px;
} 

.site-nav__links a:hover {
  background-color: var(--color-nav-hover);
}

.switch-link {
  align-self: center;
  justify-self: end;
  grid-area: site;
  padding-block: var(--space-s);
}

.external a::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 3H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-4M11 1h6m0 0v6m0-6L7 11"/></svg>');
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  margin-inline-start: var(--space-2xs);
}

@media screen and (max-width: 479px) {
  .site-links-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1159px) {
  .site-links-wrapper {
    width: max-content;
  }
}

@media screen and (max-width: 1159px) {
  [data-drupal-ajax-container] {
    display: none;
  }

  .site-nav {
    height: var(--site-header-height);
  }

  .site-links-wrapper {
    position: absolute;
    background-color: var(--color-header-bg);
    top: var(--site-header-height);
    right: 0;
    transition: transform 300ms ease-in-out;
    border-block-start: 1px solid var(--color-nav-hover);
  }

  .site-links-wrapper.offscreen {
    transform: translateX(100%);
  }

  .site-links-wrapper a {
    padding-inline: var(--space-s);
  }

  a[aria-expanded="false"] + .menu--level-2 {
    display: none;
  }

  a[aria-expanded="true"] + .menu--level-2 {
    display: block;
  }

  .menu-item--level-1 > .is-active {
    border-inline-start: 2px solid var(--color-nav-hover);
  }

  .menu-item--level-2 > a {
    text-underline-offset: 4px;
  }

  .switch-link:hover {
    background-color: var(--color-nav-hover);
  }

  .site-nav__toggle {
    border: 0;
    background: initial;
    padding: var(--space-xs) 0;
    color: currentColor;
  }

  .menu-icon {
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    height: 1em;
    width: 1.5em;
  }

  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: currentColor;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .menu-icon span:nth-child(1) {
    top: 0;
  }

  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 50%;
  }

  .menu-icon span:nth-child(4) {
    top: 100%;
  }

  .menu-icon.open span:nth-child(1),
  .menu-icon.open span:nth-child(4) {
    top: 50%;
    width: 0%;
    left: 50%;
  }

  .menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  ul.menu--level-2 {
    padding-inline-start: var(--space-m);
  }
}

@media screen and (min-width: 1160px) {
  .site-nav {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "logo links links";
    column-gap: var(--space-s);
    flex: 1;
  }

  .site-logo {
    grid-area: logo;
    z-index: 1;
  }

  .site-links-wrapper {
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: minmax(10em, 1fr) 1fr 1fr;
    grid-template-areas: ". menu site";
    gap: var(--space-s);
  }

  .site-nav__links {
    grid-area: menu;
    display: flex;
    align-items: center;
  }

  .has-submenu {
    position: relative;
  }

  .site-nav .menu--level-2 {
    background-color: var(--color-header-bg);
    position: absolute;
    border-inline-start: 2px solid var(--color-nav-hover);
    transition: opacity 150ms ease-in;
    visibility: hidden;
  }

  .site-nav .menu--level-2 a {
    padding: var(--space-2xs);
  }

  .has-submenu > a[aria-expanded="false"] + ul {
    visibility: hidden;
    opacity: 0;
  }

  .has-submenu > a[aria-expanded="true"] + ul,
  .menu-item--level-1:hover > .menu--level-2,
  .menu--level-2:hover {
    visibility: visible;
    opacity: 1;
    width: max-content;
    min-width: 100%;
    left: 0;
    top: calc(1.4em + var(--space-s) * 2);
    box-shadow: 2px 3px 6px -3px hsla(0, 0%, 0%, 0.06),
      -2px 3px 6px -3px hsla(0, 0%, 0%, 0.06);
  }

  .site-nav__toggle {
    display: none;
  }
}
