/* Webfont import */
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/titilliumweb-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/titilliumweb-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/titilliumweb-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/titilliumweb-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/titilliumweb-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Shared custom property values */
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --step--2: clamp(0.72rem, 0.6261rem + 0.4174vw, 0.96rem);
  --step--1: clamp(0.9rem, 0.7826rem + 0.5217vw, 1.2rem);
  --step-0: clamp(1.125rem, 0.9783rem + 0.6522vw, 1.5rem);
  --step-1: clamp(1.4063rem, 1.2228rem + 0.8152vw, 1.875rem);
  --step-2: clamp(1.7581rem, 1.529rem + 1.0185vw, 2.3438rem);
  --step-3: clamp(2.1975rem, 1.9109rem + 1.2739vw, 2.93rem);
  --step-4: clamp(2.7469rem, 2.3888rem + 1.5913vw, 3.6619rem);
  --step-5: clamp(3.4331rem, 2.9853rem + 1.9902vw, 4.5775rem);
  --step-6: clamp(4.2913rem, 3.7314rem + 2.488vw, 5.7219rem);
  --space-3xs: clamp(0.3125rem, 0.288rem + 0.1087vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.4891rem + 0.3261vw, 0.75rem);
  --space-xs: clamp(0.875rem, 0.7772rem + 0.4348vw, 1.125rem);
  --space-s: clamp(1.125rem, 0.9783rem + 0.6522vw, 1.5rem);
  --space-m: clamp(1.6875rem, 1.4674rem + 0.9783vw, 2.25rem);
  --space-l: clamp(2.25rem, 1.9565rem + 1.3043vw, 3rem);
  --space-xl: clamp(3.375rem, 2.9348rem + 1.9565vw, 4.5rem);
  --space-2xl: clamp(4.5rem, 3.913rem + 2.6087vw, 6rem);
  --space-3xl: clamp(6.75rem, 5.8696rem + 3.913vw, 9rem);
  --border-radius: 6px;
  --max-content-width: 1100px;
  --site-header-height: 4.375rem;
  --admin-nav-height: 39px;

  --box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.06),
    0px 2px 2px hsla(0, 0%, 0%, 0.06);
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #444;
  --color-frost: rgba(255, 255, 255, 0.5);

  --color-nav-hover: #eee;
  --color-btn-txt: var(--color-white);
  --color-admin-bg: var(--color-white);
  --color-header-bg: var(--color-white);
  --color-card-bg: var(--color-white);
  --color-btn-outline: rgba(25, 25, 25, 0.45);
  --color-btn-outline-pressed: rgba(25, 25, 25, 0.85);

  --color-tech-main-fallback: #007777;
  --color-tech-main: oklch(51.54% 0.088 194.77);
  --color-tech-secondary: oklch(55.46% 0.206 32.58);
  --color-tech-gradient: linear-gradient(to right, oklch(76.55% 0.102 184.83), oklch(91.46% 0.049 186.79));
  --color-tech-gradient-dark: linear-gradient(to right, var(--color-tech-main), oklch(74.53% 0.082 202.65));
  --filter-tech: invert(18%) sepia(85%) saturate(4735%) hue-rotate(172deg) brightness(93%) contrast(101%);

  --color-mission-main-fallback: #cf2801;
  --color-mission-main: oklch(55.27% 0.205 32.62);
  --color-mission-secondary: oklch(62.58% 0.151 148.73);
  --color-mission-gradient: linear-gradient(to right, oklch(79.3% 0.147 60.58), oklch(91.1% 0.061 64.53));
  --color-mission-gradient-dark: linear-gradient(to right, var(--color-mission-main), oklch(76.1% 0.164 65));
  --filter-mission: invert(22%) sepia(92%) saturate(1896%) hue-rotate(3deg) brightness(101%) contrast(123%);

  --color-vision-main-fallback: #6500d8;
  --color-vision-main: oklch(46.08% 0.258 291.47);
  --color-vision-secondary: oklch(57.02% 0.229 3.9);
  --color-vision-gradient: linear-gradient(to right, oklch(73.61% 0.156 297.21), oklch(90.94% 0.051 300.18));
  --color-vision-gradient-dark: linear-gradient(to right, var(--color-vision-main), oklch(68.24% 0.206 303.127));
  --filter-vision: invert(18%) sepia(100%) saturate(6622%) hue-rotate(271deg) brightness(78%) contrast(123%);

  --color-values-main-fallback: #d80068;
  --color-values-main: oklch(56.84% 0.229 3.717);
  --color-values-secondary: var(--color-vision-main);
  --color-values-gradient: linear-gradient(to right, oklch(76.01% 0.163 355.138), oklch(91.64% 0.052 347.23));
  --color-values-gradient-dark: linear-gradient(to right, var(--color-values-main), oklch(73% 0.158 351.42));
  --filter-values: invert(20%) sepia(62%) saturate(4370%) hue-rotate(316deg) brightness(81%) contrast(118%);

  --color-primary-fallback: var(--color-vision-main-fallback);
  --color-primary: var(--color-vision-main);
  --filter-primary: var(--filter-vision);
}

[class*="page-node-type-summit"],
.path-summit {
  --color-primary-fallback: #08ffff;
  --color-primary: oklch(90.54% 0.154 194.77);
  --filter-primary: filter: invert(87%) sepia(60%) saturate(2857%) hue-rotate(111deg) brightness(101%) contrast(108%);
  --color-gray: #eee;

  --color-nav-hover: #444;
  --color-btn-txt: var(--color-black);
  --color-admin-txt: var(--color-white);
  --color-admin-bg: var(--color-black);
  --color-header-bg: var(--color-black);
  --color-card-bg: var(--color-black);
  --color-frost: rgba(255, 255, 255, 0.5);
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Base element styles */
html {
  min-height: 100%;
}

body {
  font-family: "Titillium Web", var(--system-ui);
  min-width: 360px;
  overflow-x: hidden;
}

main {
  font-size: var(--step-0);
  flex: 1;
}

main::before {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/bg-swirl.svg);
  background-repeat: repeat;
  background-size: 100%;
  filter: blur(150px) opacity(0.25);
  transform: translate3d(0, 0, 0);
  content: "";
}

@media screen and (max-width: 430px) {
  main::before {
    content: initial;
  }
}

a {
  text-decoration: none;
  color: var(--color-primary-fallback);
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.39;
}

figcaption {
  font-style: italic;
  margin-block-start: var(--space-3xs);
}

/* Page theme styles */
.page-node-type-page [data-pillar="vision"] {
  --color-btn-outline: rgba(101, 1, 216, 0.45);
  --color-btn-outline-pressed:  rgb(85, 17, 181);
}

.page-node-type-page [data-pillar="mission"] {
  --color-primary-fallback: var(--color-mission-main-fallback);
  --color-primary: var(--color-mission-main);
  --color-btn-outline: rgba(207, 40, 2, 0.45);
  --color-btn-outline-pressed:  rgb(152, 26, 0);
  --filter-primary: var(--filter-mission);
}

.page-node-type-page [data-pillar="tech"] {
  --color-primary-fallback: var(--color-tech-main-fallback);
  --color-primary: var(--color-tech-main);
  --color-btn-outline: rgba(0, 119, 119, 0.45);
  --color-btn-outline-pressed:  rgb(0, 96, 96);
  --filter-primary: var(--filter-tech);
}

.page-node-type-page [data-pillar="values"] {
  --color-primary-fallback: var(--color-values-main-fallback);
  --color-primary: var(--color-values-main);
  --color-btn-outline: rgba(216, 0, 104, 0.45);
  --color-btn-outline-pressed:  rgb(158, 0, 74);
  --filter-primary: var(--filter-values);
}

/* Shared input element styles */
.button {
  border: 0;
  background-color: var(--color-primary-fallback);
  background-color: var(--color-primary);
  color: var(--color-btn-txt);
  border-radius: var(--border-radius);
  padding-inline: var(--space-xs);
  padding-block: var(--space-3xs);
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 
              0px 4px 4px rgba(0, 0, 0, 0.4),
              0px 0px 0px 2px var(--color-btn-outline);
  font-size: var(--step--1);
}

.button::before {
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: -1;
}

.button:active {
  box-shadow: -9px 5px 4px -16px rgba(232, 232, 232, 0.5),
              0px 5px 12px -16px #c6c6c6,
              0px 4px 5px rgba(0, 0, 0, 0.02),
              0px 8px 5px rgba(0, 0, 0, 0.11),
              0px 0px 0px 2px var(--color-btn-outline-pressed),
              inset 10px -16px 28px -16px rgba(198, 198, 198, 0.28);
}

input:not([type="submit"]):not([type="file"]),
textarea,
select {
  border: 1px solid var(--color-primary-fallback);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding-inline: var(--space-2xs);
  padding-block: var(--space-3xs);
  margin-block: var(--space-3xs);
  background-color: var(--color-frost);
  max-width: 100%;
  font-size: var(--step--1);
}

/* Admin interface element styles */
.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar-fixed .dialog-off-canvas-main-canvas {
  min-height: calc(100vh - var(--admin-nav-height));
}

.toolbar-fixed header {
  top: var(--admin-nav-height);
}

.toolbar-horizontal.toolbar-tray-open .dialog-off-canvas-main-canvas,
.toolbar-horizontal.toolbar-tray-open header {
  --admin-nav-height: 79px;
}

.region-admin {
  background-color: var(--color-admin-bg);
  color: var(--color-admin-txt);
  z-index: 1;
  padding: var(--space-xs);
}

#block-interledger-primary-local-tasks > ul {
  display: flex;
  list-style: none;
  gap: var(--space-xs);
  padding-inline-start: 0;
}

#block-interledger-pagetitle {
  margin-block-end: var(--space-2xs);
}

/* Shared styles */
section {
  padding-inline: 5%;
}

.content-wrapper {
  max-width: var(--max-content-width);
  margin-inline: auto;
}

.layout--twocol-section--50-50 {
  gap: var(--space-m);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 840px) {
  .layout--twocol-section--50-50 {
    max-width: var(--max-content-width);
    margin-inline: auto;
    flex-wrap: initial;
    gap: var(--space-m);
  }
}

@media screen and (min-width: 40em) {
  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second {
      flex: 1 1 50%;
  }
}

.views-element-container {
  padding-inline: 5%;
}

.views-exposed-form {
  display: flex;
  gap: var(--space-s);
  margin-block-end: var(--space-m);
  align-items: center;
}

.people-grid {
  list-style: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  gap: var(--space-s);
}

.people-grid img {
  margin-block-end: var(--space-3xs);
}

.people-grid h2 {
  font-size: var(--step--0);
}

.people-grid p {
  font-size: var(--step--1);
}

/* Site header styles */
.site-header {
  background-color: var(--color-header-bg);
  padding: 0 var(--space-m);
  position: sticky;
  top: 0;
  z-index: 1;
  border-block-start: 2px solid var(--color-nav-hover);
  box-shadow: var(--box-shadow);
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav ul {
  list-style: none;
  padding-inline-start: 0;
  justify-content: center;
}

.site-nav a {
  display: block;
  color: currentColor;
  transition: text-decoration 200ms ease-in-out;
  white-space: nowrap;
}

.site-logo {
  width: 11em;
  flex: none;
}

.site-nav__links a {
  text-decoration: underline 1.5px transparent;
  padding: var(--space-s) var(--space-2xs);
}

.site-nav__links a:hover {
  background-color: var(--color-nav-hover);
}

.menu-item--level-1 > a {
  text-underline-offset: 8px;
}

.menu-item--level-2 > a {
  text-underline-offset: 4px;
}

.switch-link {
  align-self: center;
  justify-self: end;
  grid-area: site;
  padding-block: var(--space-s)
}

@media screen and (max-width: 479px) {
  .site-links-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1059px) {
  .site-links-wrapper {
    width: max-content;
  }
}

@media screen and (max-width: 1059px) {
  [data-drupal-ajax-container] {
    display: none;
  }

  .site-nav {
    height: var(--site-header-height);
  }

  .site-links-wrapper {
    position: absolute;
    background-color: var(--color-header-bg);
    top: var(--site-header-height);
    right: 0;
    transition: transform 300ms ease-in-out;
    border-block-start: 1px solid var(--color-nav-hover);
  }

  .site-links-wrapper.offscreen {
    transform: translateX(100%);
  }

  .site-links-wrapper a {
    padding-inline: var(--space-s);
  }

  a[aria-expanded="false"] + .menu--level-2 {
    display: none;
  }

  a[aria-expanded="true"] + .menu--level-2 {
    display: block;
  }

  .menu-item--level-1 > .is-active {
    border-inline-start: 2px solid var(--color-nav-hover);
  }

  .menu-item--level-2 > .is-active {
    text-decoration: underline;
  }

  .switch-link:hover {
    background-color: var(--color-nav-hover);
  }

  .site-nav__toggle {
    border: 0;
    background: initial;
    padding: var(--space-xs) 0;
    color: currentColor;
  }

  .menu-icon {
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    height: 1em;
    width: 1.5em;
  }

  .menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: currentColor;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .menu-icon span:nth-child(1) {
    top: 0;
  }

  .menu-icon span:nth-child(2),
  .menu-icon span:nth-child(3) {
    top: 50%;
  }

  .menu-icon span:nth-child(4) {
    top: 100%;
  }

  .menu-icon.open span:nth-child(1),
  .menu-icon.open span:nth-child(4) {
    top: 50%;
    width: 0%;
    left: 50%;
  }

  .menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  .menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  ul.menu--level-2 {
    padding-inline-start: var(--space-m);
  }
}

@media screen and (min-width: 1060px) {
  .site-nav {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "logo links links";
    column-gap: var(--space-s);
  }

  .site-logo {
    grid-area: logo;
    z-index: 1;
  }

  .site-links-wrapper {
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: minmax(10em, 1fr) 1fr 1fr;
    grid-template-areas: ". menu site";
    gap: var(--space-s);
  }

  .site-nav__links {
    grid-area: menu;
    display: flex;
    align-items: center;
  }

  .site-nav__links .is-active {
    text-decoration-color: var(--color-primary-fallback);
    text-decoration-color: currentColor;
  }

  .has-submenu {
    position: relative;
  }

  .site-nav .menu--level-2 {
    background-color: var(--color-header-bg);
    position: absolute;
    border-inline-start: 2px solid var(--color-nav-hover);
    transition: opacity 150ms ease-in;
    visibility: hidden;
  }

  .site-nav .menu--level-2 a {
    padding: var(--space-2xs);
  }

  .has-submenu > a[aria-expanded="false"] + ul {
    visibility: hidden;
    opacity: 0;
  }

  .has-submenu > a[aria-expanded="true"] + ul,
  .menu-item--level-1:hover > .menu--level-2,
  .menu--level-2:hover {
    visibility: visible;
    opacity: 1;
    width: max-content;
    min-width: 100%;
    left: 0;
    top: calc(1.4em + var(--space-s) * 2);
    box-shadow: 2px 3px 6px -3px hsla(0, 0%, 0%, 0.06),
    -2px 3px 6px -3px hsla(0, 0%, 0%, 0.06);
  }

  .site-nav__toggle {
    display: none;
  }
}

/* Site footer styles */
.site-footer {
  --color-primary: var(--color-gray);
  padding: var(--space-m) 0;
  margin-inline: var(--space-m);
  margin-block-start: var(--space-l);
  text-align: center;
  border-block-start: 1px solid var(--color-primary-fallback);
  border-block-start: 1px solid ;
}

.site-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width: 780px) {
  .connect-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: var(--space-xl);
    text-align: left;
  }
}

.site-footer form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: var(--space-s);
}

.site-footer form input[type="email"] {
  border-start-end-radius: 0px;
  border-end-end-radius: 0px;
  border-inline-end-color: transparent;
}

.site-footer form input[type="submit"] {
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
  box-shadow: none;
  border: 1px solid var(--color-primary);
}

.social-links h3 {
  margin-block-end: var(--space-2xs);
}

.social-links ul {
  gap: var(--space-s);
  margin-block-end: var(--space-s);
  flex-wrap: wrap;
}

.social-links li {
  flex: none;
}

.social-links svg {
  height: 2em;
  width: 2em;
  transition: transform 200ms ease-in-out;
}

.social-links a:hover svg {
  transform: scale(1.15);
}

.site-footer p {
  margin-block-end: var(--space-3xs);
}

.footer-links a {
  padding: 0 var(--space-s);
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: currentColor;
}

.footer-links a:hover {
  text-decoration-style:solid;
}

@media screen and (max-width: 479px) {
  ul.footer-links {
    display: initial;
  }

  .footer-links li {
    margin-block-end: var(--space-2xs);
  }
}

@media screen and (min-width: 480px) {
  .footer-links li:not(:first-of-type)::before {
    content: "|";
    display: inline;
  }
}

/* Spacer block styles */
.layout-spacer {
  border: 0;
  padding-block: var(--space-m);
}

/* Ambassador content type styles */
@media screen and (min-width:840px) {
  .ambassador {
    display: flex;
    align-items: center;
    gap: var(--space-s);
  }
}

.ambassador:not(:last-of-type) {
  margin-block-end: var(--space-m);
}

@media screen and (max-width:599px) {
  .ambassador__img {
    display: block;
    margin-inline: auto;
  }
}

.ambassador h2 {
  font-weight: 600;
  font-size: var(--step-2);
}

@media screen and (max-width:839px) {
  .ambassador__img {
    margin-block-end: var(--space-s);
  }
}

/* Article content type styles */
.news-wrapper {
  --max-content-width: 1440px;
  --color-primary: var(--color-gray);
}

.news-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.news-listing {
  list-style: none;
  padding-inline-start: 0;
}

.news-listing li {
  margin-block-end: var(--space-m);
  padding-block-end: var(--space-m);
  box-shadow: 0 10px 6px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 839px) {
  .news-listing li > div:not(.article-teaser-text) {
    margin-block-end: var(--space-s);
  }
}

@media screen and (min-width: 840px) {
  .news-listing li {
    display: flex;
    align-items: start;
    gap: var(--space-s);
  }
}

.news-listing li:last-of-type {
  box-shadow: none;
}

.news-listing li > div:not(.article-teaser-text) {
  flex: none;
}

.news-listing img {
  margin-block-start: var(--space-3xs);
}

.news-listing h2 {
  font-size: var(--step-1);
}

.news-listing a {
  color: currentColor;
}

.news-listing time {
  display: block;
  font-size: var(--step--1);
  margin-block-start: var(--space-3xs);
}

.news-listing p {
  margin-block-start: var(--space-xs);
  margin-block-end: var(--space-2xs);
}

.article-teaser-text > a {
  display: inline-flex;
  gap: var(--space-2xs);
  font-size: var(--step--1);
}

.article-teaser-text > a::after {
  content: url('data:image/svg+xml,<svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 25"><path d="M38.658 24.7a1 1 0 0 1 .008-1.413L48.7 13.368H1a1 1 0 0 1-1-1 1 1 0 0 1 1-1h47.435l-9.768-9.659a1 1 0 0 1-.008-1.413 1 1 0 0 1 1.413-.009l11.631 11.5a1 1 0 0 1 .3.712.994.994 0 0 1-.3.71l-11.631 11.5a1 1 0 0 1-.7.289.994.994 0 0 1-.714-.298Z"></path></svg>');
  width: 1.5em;
  flex: none;
  transition: transform 300ms ease-in-out;
}

.article-teaser-text > a:hover::after {
  transform: translateX(0.25em);
}

.pager__items {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  gap: var(--space-m);
  padding-block-end: var(--space-l);
}

.pager__item.is-active a {
  text-decoration: underline;
}

.page-node-type-article .dialog-off-canvas-main-canvas {
  background-color: rgba(255, 255, 255, 0.7);
}

.news-article[data-pillar="tech"] {
  --accent-color: var(--color-tech-main);
  --feature-gradient: var(--color-tech-gradient);
}

.news-article[data-pillar="tech"] [data-gradient="dark"] {
  --feature-gradient: var(--color-tech-gradient-dark);
}

.news-article[data-pillar="vision"] {
  --accent-color: var(--color-vision-main);
  --feature-gradient: var(--color-vision-gradient);
}

.news-article[data-pillar="vision"] [data-gradient="dark"] {
  --feature-gradient: var(--color-vision-gradient-dark);
}

.news-article[data-pillar="mission"] {
  --accent-color: var(--color-mission-main);
  --feature-gradient: var(--color-mission-gradient);
}

.news-article[data-pillar="mission"] [data-gradient="dark"] {
  --feature-gradient: var(--color-mission-gradient-dark);
}

.news-article[data-pillar="values"] {
  --accent-color: var(--color-values-main);
  --feature-gradient: var(--color-values-gradient);
}

.news-article[data-pillar="values"] [data-gradient="dark"] {
  --feature-gradient: var(--color-values-gradient-dark);
}

.news-article {
  padding: var(--space-m) 5%;
}

.news-article div:not([class]) {
  max-width: 1440px;
  margin-inline: auto;
  margin-block-end: var(--space-m);
}

.news-article header {
  margin-bottom: var(--space-m);
}

.news-article h1 {
  color: var(--accent-color);
  font-size: var(--step-4);
  line-height: 1.2;
  margin-block-end: var(--space-3xs);
}

.news-article time {
  font-size: var(--step--1);
}

.news-article address {
  font-style: normal;
  font-weight: bold;
  margin-block-end: var(--space-xs);
}

.news-article p,
.news-article ol,
.news-article ul,
.news-article h2,
.news-article h3,
.news-article figure {
  margin-block-end: var(--space-s);
}

.news-article li {
  margin-block-end: var(--space-xs);
}
.news-article a {
  color: var(--accent-color);
}

.news-article figure img {
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 800px) {
  .news-article figure {
    max-width: 75%;
  }
}

.news-feature-img {
  display: flex;
  margin-block-end: var(--space-xs);
}

.news-gradient {
  width: 100%;
  background-image: var(--feature-gradient);
}

.news-profile {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  margin-block-end: var(--space-s);
}

.news-profile:first-of-type {
  margin-block-start: var(--space-m);
  padding-block-start: var(--space-m);
  border-block-start: 1px solid green;
}

.news-profile p {
  font-style: italic;
}

.news-tags {
  display: flex;
  gap: var(--space-xs);
  list-style: none;
  padding-inline-start: 0;
}

/* Blockquote content type styles */
.blockquote blockquote {
  padding-left: var(--space-s);
  border-inline-start: 4px solid var(--color-primary-fallback);
  border-inline-start: 4px solid var(--color-primary);
  font-size: var(--step-1);
  font-style: italic;
  position: relative;
}

/* Callout text content type styles */
.callout p {
  font-size: var(--step-3);
}

/* Card content type styles */
.card {
  border-radius: var(--border-radius);
  max-width: 20em;
  margin-inline: auto;
}

.card--has-txt {
  box-shadow: var(--box-shadow);
}

.card__media {
  border-radius: var(--border-radius);
  width: 100%;
  aspect-ratio: 16 / 9;
}

.card--no-txt iframe {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
}

.card--has-txt img {
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
}

.card--no-txt img {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.card-content-wrapper {
  padding: var(--space-xs) var(--space-s);
  border-end-start-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
  background-color: var(--color-card-bg);
}

.card__title {
  margin-block-end: var(--space-3xs);
}

.card__desc {
  margin-block-end: var(--space-xs);
}

.card__link {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.card__link::after {
  content: url('data:image/svg+xml,<svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 25"><path d="M38.658 24.7a1 1 0 0 1 .008-1.413L48.7 13.368H1a1 1 0 0 1-1-1 1 1 0 0 1 1-1h47.435l-9.768-9.659a1 1 0 0 1-.008-1.413 1 1 0 0 1 1.413-.009l11.631 11.5a1 1 0 0 1 .3.712.994.994 0 0 1-.3.71l-11.631 11.5a1 1 0 0 1-.7.289.994.994 0 0 1-.714-.298Z"></path></svg>');
  width: 1.5em;
  flex: none;
  filter: var(--filter-primary);
  transition: transform 300ms ease-in-out;
}

.card__link:hover::after {
  transform: translateX(0.5em);
}

/* CTA stripe content type styles */
.cta--mailing-list {
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-3xs);
  padding: var(--space-s);
}

.cta--mailing-list img {
  max-width: 5em;
}

.cta--mailing-list form {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

/* FAQ content type styles */
.faqs-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.faq-item {
  max-width: 50rem;
}

.faq__qns {
  background-color: transparent;
  border: 1px solid var(--color-primary-fallback);
  border: 1px solid var(--color-primary);
  padding: var(--space-s);
  user-select: text;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
}

.faq__qns h3 {
  font-size: var(--step-0);
  font-weight: normal;
}

.faq__qns[aria-expanded]::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.045 25.829"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1.414 24.414 11.631-11.5-11.631-11.5"></path></svg>');
  filter: var(--filter-primary);
  flex: none;
  width: 0.6em;
  margin-inline-start: auto;
  transition: transform 150ms ease-in-out;
}

.faq__qns[aria-expanded="true"]::after {
  transform: rotate(90deg) translateY(8px);
  transform-origin: center;
}

.faq__ans-wrapper {
  display: grid;
  transition: grid-template-rows 0.3s ease-out;
  padding: var(--space-xs) var(--space-s) var(--space-s) var(--space-s);
}

.js .faq__ans-wrapper {
  grid-template-rows: 0fr;
}

button[aria-expanded="false"] + .faq__ans-wrapper {
  grid-template-rows: 0fr;
}

button[aria-expanded="true"] + .faq__ans-wrapper {
  grid-template-rows: 1fr;
}

.faq__ans {
  overflow: hidden;
}

/* Hero banner content type styles */
.hero {
  padding-block: var(--space-m);
  background-image: var(--bg-image);
  min-height: 60vh;
  display: flex;
  align-items: center;
  margin-block-end: var(--space-xl);
}

.hero h2 {
  font-size: var(--step-6);
  max-width: 10em;
  line-height: 1.2;
  color: var(--color-hero-txt);
  font-weight: 200;
}

.hero--photography {
  justify-content: start;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.hero--photography h2 {
  padding: var(--space-m);
  border-radius: var(--border-radius);
}

.hero__caption {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: var(--step--2);
  font-weight: semibold;
  padding: var(--space-3xs) var(--space-2xs);
}

.hero--illustration {
  --bg-image: linear-gradient(
    to right,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
}

.hero--illustration h2 {
  font-weight: 600;
}

.hero--video {
  position: relative;
}

.background-wrapper video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(50%);
}

@media screen and (max-width: 799px) {
  .hero--illustration {
    padding-block-start: var(--space-xl);
  }

  .hero--illustration .content-wrapper img {
    max-width: 20rem;
    margin-inline: auto;
    display: block;
  }

  .hero--illustration .content-wrapper h2 {
    margin-inline: auto;
    text-align: center;
    margin-block-end: var(--space-m);
  }
}

@media screen and (min-width: 800px) {
  .hero {
    min-height: 70vh;
  }

  .hero--photography {
    background-position: var(--bg-pos, center) right;
  }

  .hero--illustration .content-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    width: 100%;
  }

  .hero--illustration .content-wrapper h2 {
    flex: 3;
  }

  .hero--illustration .content-wrapper img {
    flex: 0 1 auto;
    max-width: 30rem;
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  .hero--photography .content-wrapper {
    width: var(--max-content-width);
    position: relative;
    left: calc(-1 * var(--space-m));
  }
}

/* Highlight text content type styles */
.highlight {
  font-size: var(--step-6);
  font-weight: 600;
  color: var(--color-primary-fallback);
  color: var(--color-primary);
  line-height: 1.15;
}

.highlight p {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 450ms ease-in, transform 450ms ease-out;
  line-height: 1.1;
  margin-block-end: var(--space-2xs);
  hyphens: auto;
}

.highlight p.invisible {
  opacity: 0;
  transform: translateX(150px);
}

/* Team member content type styles */
.team-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.team-wrapper a {
  color: currentColor;
  position: relative;
  display: block;
  transition: color 200ms ease-out;
}

.team-wrapper a:hover {
  color: var(--color-primary-fallback);
  color: var(--color-primary);
}

.team-wrapper .member__socials {
  margin-block-start: var(--space-3xs);
}

.team-wrapper .member__socials svg {
  height: 1em;
  width: 1.1em;
  transition: transform 200ms ease-in-out;
}

.team-wrapper .member__socials a:hover svg {
  transform: scale(1.15);
}

.member {
  padding: var(--space-s);
  display: flex;
  gap: var(--space-s);
  align-items: start;
}

@media screen and (max-width: 859px) {
  .member {
    align-items: center;
    flex-direction: column;
  }
}

.member img {
  flex: none;
}

.member__text {
  flex: 3;
}

.member__socials {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  gap: var(--space-xs);
}

.member__text ul {
  margin-block-start: var(--space-s);
  margin-block-end: var(--space-s);
}

.member__text ul svg {
  height: 1.25em;
  width: 1.3em;
}

/* Testimonial content type styles */
.testimonial blockquote {
  padding: var(--space-m);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-frost);
}

.testimonial p {
  font-size: var(--step-1);
  font-style: italic;
  position: relative;
  margin-bottom: var(--space-xs);
}

/* Text block content type styles */
.text-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-m);
}

.text-wrapper h2 {
  width: 100%;
  font-size: var(--step-2);
  font-weight: 600;
  margin-block-end: var(--space-xs);
}

.text-wrapper li {
  margin-block-end: var(--space-xs);
  line-height: 1.39;
}

.text-wrapper li ul,
.text-wrapper li ol {
  margin-block-start: var(--space-xs);
}

.text__media {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.text__media iframe {
  width: 100%;
  height: 100%;
}

.text__body h2,
.text__body h3,
.text__body p:not(:last-of-type) {
  margin-bottom: var(--space-xs);
}

@media screen and (min-width: 800px) {
  .text-wrapper {
    flex-wrap: wrap;
  }

  .text--body-left .text__img {
    order: 1;
  }

  .text__img,
  .text__media {
    flex: calc(50% - var(--space-m));
  }

  .text__body {
    flex: 50%;
  }

  .text__body p {
    text-align: justify;
  }
}

/* Art block styling */
.art-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  gap: var(--space-s);
}

/* Podcast block styling */
.podcast-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: var(--space-s);
}

.podcast__heading {
  margin-block-end: var(--space-s);
  font-weight: 600;
}

/* Contact page styles */
.contact-wrapper {
  --max-content-width: 1440px;
  padding-inline: 5%;
}

.contact-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.contact-wrapper form {
  max-width: 30em;
}

.contact-wrapper label {
  font-weight: bold;
}

.contact-wrapper .form-item {
  margin-block-end: var(--space-s);
}

.contact-wrapper select,
.contact-wrapper input {
  display: block;
}

.contact-wrapper form .description {
  font-size: var(--step--1);
}

.contact-wrapper .form-actions {
  margin-block-start: var(--space-m);
}

/* Login page styling */
.user-wrapper {
  padding-inline: 5%;
}

.user-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.user-wrapper [data-drupal-messages] {
  margin-block-end: var(--space-xs);
  padding: var(--space-2xs);
  border: 1px solid maroon;
  width: max-content;
  font-size: var(--step--1);
  background-color: mistyrose;
  border-radius: var(--border-radius);
}

.user-login-form,
.user-pass {
  max-width: 25em;
}

.user-login-form label,
.user-pass label {
  display: block;
  font-size: var(--step--1);
  font-weight: bold;
}

.user-wrapper .form-item,
.user-pass p,
.user-wrapper .form-submit {
  margin-block-start: var(--space-xs);
}

/* Error pages styling */
[class*="page-4"] main {
  display: flex;
}

.error-block {
  margin: auto;
}

/* Summit page styling */
[class*="page-node-type-summit"],
.path-summit {
  background-color: var(--color-black);
  color: var(--color-white);
}

[class*="page-node-type-summit"] main::before {
  filter: blur(150px) opacity(0.4);
}

[class*="page-node-type-summit"] .site-footer svg path,
.path-summit .site-footer svg path {
  fill: var(--color-white);
}

/* Summit speaker styling */
.speakers-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.speakers-listing a {
  color: currentColor;
}

.speaker__header {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: var(--space-m);
  padding-inline: 5%;
  margin-block-end: var(--space-l);
}

.speaker__header::before {
  content: '';
  background-color: var(--color-primary-fallback);
  background-color: var(--color-primary);
  opacity: 6%;
  mix-blend-mode: color-dodge;
  width: 100%;
  height: 100%;
  position: absolute;
}

.speaker__header p {
  padding-block-end: var(--space-m);
}

.speaker__info {
  padding-inline: 5%;
}

.speaker__talks {
  padding: var(--space-m);
  margin-block-start: var(--space-m);
  border: 1px solid var(--color-primary-fallback);
  border: 1px solid var(--color-primary);
}

.speaker__talk:not(:first-of-type) {
  margin-block-start: var(--space-m);
}

.speaker__talk h3 {
  margin-block-end: var(--space-2xs);
}

/* Summit talk styling */
.talks-wrapper h1 {
  padding-block-start: var(--space-l);
  padding-block-end: var(--space-m);
}

.talk {
  padding-inline: 5%;
}

.talk__breadcrumbs {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  font-size: var(--step--1);
  font-weight: 700;
  padding-block-start: var(--space-l);
}

.talk__breadcrumbs li:not(:first-child)::before {
  content: '>';
  display: inline-flex;
  margin-inline-start: var(--space-3xs);
}

.talk__header {
  padding-block-start: var(--space-s);
  padding-block-end: var(--space-l);
}

.talk__header h1 {
  line-height: 1.19;
  margin-block-end: var(--space-2xs);
}

.talk__header p {
  font-size: var(--step--1);
}

.talk__video {
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  margin-block-end: var(--space-m);
}

.talk__video iframe {
  height: 100%;
  width: 100%;
}

.talk__info {
  display: flex;
  gap: var(--space-m);
}

@media screen and (max-width: 799px) {
  .talk__info {
    flex-direction: column;
  }

  .talk__speakers {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 800px) {
  .talk__speakers {
    min-width: 7em;
    flex-direction: column;
  }
}

.talk__speakers {
  display: flex;
  gap: var(--space-m);
}

.talk__speakers a {
  max-width: 8em;
  color: currentColor;
}

.talk__speakers h2 {
  margin-block-start: var(--space-2xs);
  font-size: var(--step-0);
}

.talk__speakers p {
  font-size: var(--step--1);
}

.talks-listing li {
  display: flex;
  gap: var(--space-m);
  align-items: start;
  margin-block-end: var(--space-m);
}

.talks-listing img {
  max-width: 8em;
  border-radius: 50%;
  border: 2px solid var(--color-primary-fallback);
  border: 2px solid var(--color-primary);
}

.talks-listing h2 {
  font-size: var(--step-1);
}

.talk__teaser p {
  font-size: var(--step--1);
  margin-block-end: var(--space-2xs);
}
