/* Error pages styling */
[class*="page-4"] main {
  display: flex;
}

.error-block {
  margin: auto;
  padding: var(--space-xs) var(--space-s);
}

[class*="page-4"] .cta--btn__link, .cta--btn{
  padding-left: 0;
}
