/* Summit page styling */
[class*="page-node-type-summit"],
.path-summit {
  background-color: var(--color-black);
  color: var(--color-white);
}

[class*="page-node-type-summit"] main::before {
  filter: blur(180px) opacity(0.25);
}

[class*="page-node-type-summit"] .site-footer svg path,
.path-summit .site-footer svg path {
  fill: var(--color-white);
}
