/* Card content type styles */
.card {
  border-radius: var(--border-radius);
  max-width: 20em;
  margin-inline: auto;
}

.card--has-txt {
  box-shadow: var(--box-shadow);
}

.card__media {
  border-radius: var(--border-radius);
  width: 100%;
  aspect-ratio: 16 / 9;
}

.card--no-txt iframe {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
}

.card--has-txt img {
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
}

.card--no-txt img {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.card-content-wrapper {
  padding: var(--space-xs) var(--space-s);
  border-end-start-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
  background-color: var(--color-card-bg);
  font-weight: 300;
}

.card__title {
  margin-block-end: var(--space-3xs);
}

.card__desc {
  margin-block-end: var(--space-xs);
}

.card__learn-more {
  font-size: var(--step--1);
  margin-top: var(--space-s);
}

.card__learn-more svg {
  display: inline-block;
  margin-left: var(--space-2xs);
  vertical-align: middle;
}

.clickable-card:hover .card__learn-more svg {
  transform: rotate(-45deg);
}


.card__link {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.card__link::after {
  content: url('data:image/svg+xml,<svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 25"><path d="M38.658 24.7a1 1 0 0 1 .008-1.413L48.7 13.368H1a1 1 0 0 1-1-1 1 1 0 0 1 1-1h47.435l-9.768-9.659a1 1 0 0 1-.008-1.413 1 1 0 0 1 1.413-.009l11.631 11.5a1 1 0 0 1 .3.712.994.994 0 0 1-.3.71l-11.631 11.5a1 1 0 0 1-.7.289.994.994 0 0 1-.714-.298Z"></path></svg>');
  width: 1.5em;
  flex: none;
  filter: var(--filter-primary);
  transition: transform 300ms ease-in-out;
}

.card__link:hover::after {
  transform: translateX(0.5em);
}

.clickable-card {
  background-color: var(--color-card-bg);
  transition: box-shadow 0.3s ease;
}

.clickable-card:hover {
  box-shadow: 0 0 10px var(--color-card-outline);
}

.clickable-card a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.clickable-card:hover a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.clickable-card a h3 {
  color: var(--color-primary-fallback);
  color: var(--color-primary);
}

.clickable-card:hover a h3 {
  text-decoration: underline;
}

.clickable-card .card-content-wrapper {
  background-color: transparent;
}

/* Grid layout */
.grid-layout {
  display: grid;
  gap: var(--space-s);
}

.grid-layout .card {
  width: 100%;
  height: 100%;
}

/* Art block styling */
.art-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}

/* Hackathon block styling */
.hackathon-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.hackathon-wrapper .card {
  width: 100%;
  max-width: 100%;
  padding: var(--space-m);
  border: 1px solid var(--color-white);
  border-radius: 16px;
}

.hackathon-wrapper .card h3 {
  position: relative;
  padding-left: 1.6rem;
}

.hackathon-wrapper .card h3::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  left: -0.4rem;
  top: 0.7em;
  transform: translateY(-50%);
  /* Offsets by half the dot's height for perfect centering */
}

.hackathon-wrapper .card-content-wrapper {
  background-color: transparent;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-l);
  width: 100%;
}

.hackathon-wrapper .card__title {
  font-size: var(--step-1);
  font-weight: 600;
  line-height: var(--line-height-heading);
  color: var(--color-white);
}

.hackathon-wrapper .card__desc-wrapper {
  font-size: var(--step--1);
  color: var(--color-light-gray);
}


.hackathon-wrapper .card__desc {
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .hackathon-wrapper .card-content-wrapper {
    grid-template-columns: 1fr;
    gap: var(--space-s);
  }

  .hackathon-wrapper .card h3 {
    padding-left: 1.3rem;
  }

  .hackathon-wrapper .card h3::before {
    width: 0.6rem;
    height: 0.6rem;
    left: 0rem;
    top: 0.8em;
  }

  .card__learn-more {
    text-align: right;
  }
}

/* Ideation block styling */
.ideation-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
}

.ideation-wrapper>* {
  flex: 1 1 12em;
  max-width: 100%;
}

.ideation-wrapper .card-content-wrapper {
  height: 100%;
}

.ideation-wrapper .card h3 {
  text-decoration: underline;
}

/* Podcast block styling */
.podcast-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}

.podcast__heading {
  margin-block-end: var(--space-s);
  font-weight: 600;
}

.podcast__footer {
  margin-block-start: var(--space-xs);
}

/* Annual report block styling */
.report-cards-wrapper {
  grid-auto-rows: 1fr;
}

.report-cards-wrapper .card-content-wrapper {
  text-align: center;
}

.report-cards-wrapper .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.report-cards-wrapper .card a {
  padding: var(--space-xs);
}

.report-cards-wrapper .card__media {
  display: flex;
  justify-content: center;
  aspect-ratio: unset;
}

.report-cards-wrapper .card__media img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* 2024 Annual report grid layout */
@media screen and (min-width: 900px) {
  .report-cards-wrapper.report-2024 {
    grid-template-columns: repeat(3, 1fr);
  }

  .report-cards-wrapper.report-2024 .card:nth-child(3n+1),
  .report-cards-wrapper.report-2024 .card:nth-child(3n+3) {
    margin-top: var(--space-m);
  }

  .report-cards-wrapper .card {
    min-height: 30rem;
  }
}

@media screen and (max-width: 899px) {
  .report-cards-wrapper.report-2024 {
    grid-template-columns: repeat(1, 1fr);
  }

  .report-cards-wrapper.report-2024 .card {
    max-width: 100%;
    height: auto;
  }
}

/* Horizontal Navigation cards */
.navigation-wrapper {
  grid-auto-rows: 1fr;
}

.navigation-wrapper .card {
  width: 100%;
  max-width: 100%;
  height: var(--space-3xl);
  display: flex;
  align-items: stretch;
}

.navigation-wrapper .card a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1em;
}

.navigation-wrapper a::after {
  content: url('data:image/svg+xml,<svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 25"><path d="M38.658 24.7a1 1 0 0 1 .008-1.413L48.7 13.368H1a1 1 0 0 1-1-1 1 1 0 0 1 1-1h47.435l-9.768-9.659a1 1 0 0 1-.008-1.413 1 1 0 0 1 1.413-.009l11.631 11.5a1 1 0 0 1 .3.712.994.994 0 0 1-.3.71l-11.631 11.5a1 1 0 0 1-.7.289.994.994 0 0 1-.714-.298Z"></path></svg>');
  width: 1.5em;
  transition: transform 300ms ease-in-out;
  flex-shrink: 0;
}

.navigation-wrapper a:hover::after {
  transform: translateX(0.5em);
}

.navigation-wrapper .card__media {
  height: 100%;
  width: auto;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.navigation-wrapper .card__media img {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: 0;
}

.navigation-wrapper .card-content-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.navigation-wrapper .card__title {
  font-size: var(--step-0);
  color: inherit;
  font-weight: unset;
}

.navigation-wrapper .card:hover .card__title {
  text-decoration: none;
}

.navigation-wrapper .card__desc {
  display: none;
}

/* Featured content navigation grid layout */
@media screen and (min-width: 900px) {
  .navigation-wrapper.featured-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .navigation-wrapper.featured-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.navigation-wrapper.featured-content {
  margin-top: var(--space-s);
}

/* 2024 report navigation grid layout */
@media screen and (min-width: 900px) {
  .navigation-wrapper.report-2024 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .navigation-wrapper.report-2024 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Home page CTA block styling */
.homepage-cta-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.homepage-cta-cards-wrapper .card {
  width: 10em;
  height: 12em;
  border: 1px solid var(--color-light-gray);
}

.homepage-cta-cards-wrapper .card a {
  width: 100%;
  height: 100%;
  display: block;
}

.homepage-cta-cards-wrapper .card__media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-s);
  padding-bottom: 0;
  padding-top: var(--space-m);
  aspect-ratio: unset;
}

.homepage-cta-cards-wrapper .card__media img {
  width: 4em;
  height: 4em;
}

.homepage-cta-cards-wrapper .card-content-wrapper {
  text-align: center;
  padding: var(--space-s);
  padding-top: var(--space-2xs);
}

/* Press logo carousel */
.press-carousel {
  overflow: hidden;
  width: unset;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  max-width: unset;
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.press-logos {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  animation: scroll-left 18s linear infinite;
}

.press-logos .duplicate-logos {
  display: flex;
}

.press-logos .card {
  padding: var(--space-s);
}

.press-logos .card--no-txt .card__media img {
  width: auto;
  height: 7em;
}

/* Animation keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* ILP audience */
@media screen and (min-width: 800px) {
  .ilp-audience-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 799px) {
  .ilp-audience-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .ilp-audience-wrapper {
    max-width: 100%;
    height: auto;
  }
}

.ilp-audience-wrapper .card {
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-light-gray);
  border-top: 8px solid var(--color-primary);
  align-content: center;
}

.ilp-audience-wrapper .card .card-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-s);
  text-align: center;
}

/* Summit 2025 Track block styling */
.summit-track-wrapper {
  gap: var(--space-m);
  display: flex;
  flex-direction: column;
}

.summit-track-wrapper .card {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 2rem;
  height: auto;
}

.summit-track-wrapper .card:nth-child(odd) .card-content-wrapper {
  grid-column: 1;
  grid-row: 1;
}

.summit-track-wrapper .card:nth-child(odd) .card__media {
  grid-column: 2;
  grid-row: 1;
}

.summit-track-wrapper .card .card-content-wrapper {
  padding: 0px;
}

.summit-track-wrapper .card .card__media {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  aspect-ratio: unset;
  border-radius: 0.5rem;
}

.summit-track-wrapper .card .card__media img {
  border-radius: 0rem;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (max-width: 460px) {
  .summit-track-wrapper .card {
    grid-template-columns: 1fr;
  }

  .summit-track-wrapper .card .card-content-wrapper,
  .summit-track-wrapper .card:nth-child(odd) .card-content-wrapper {
    grid-row: 1;
    grid-column: 1;
  }

  .summit-track-wrapper .card .card__media,
  .summit-track-wrapper .card:nth-child(odd) .card__media {
    grid-row: 2;
    grid-column: 1;
  }
}

.summit-track-wrapper .card:first-of-type {
  border: 1px solid #A26CFD;
}

.summit-track-wrapper .card:nth-of-type(2) {
  border: 1px solid #F7AA54;
}

.summit-track-wrapper .card:nth-of-type(3) {
  border: 1px solid #5BC6B9;
}

.summit-track-wrapper .card:last-of-type {
  border: 1px solid #FF81C5;
}

.summit-track-wrapper h3 {
  font-size: var(--step-2);
}

.summit-track-wrapper .card-content-wrapper {
  padding: var(--space-l);
  background-color: transparent;
}

/* Hackathon 2025 block styling */
.hack-success-wrapper {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 899px) {
  .hack-success-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hack-success-wrapper .card {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(80, 80, 80, 0.3));
  max-width: 100%;
}

.hack-success-wrapper .card__title {
  font-size: var(--step-1);
  color: #5BC6B9;
}

.hack-success-wrapper .card__desc {
  font-size: var(--step--1);
}

.hack-success-wrapper .card-content-wrapper {
  background-color: transparent;
}

/* Hackathon prize cards */
.hackathon-prize-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-m);
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, white, transparent) 1;
}

.hackathon-prize-cards-wrapper .card {
  text-align: center;
  padding: 1.875rem 1.25rem;
  box-shadow: none;
}

.hackathon-prize-cards-wrapper .card__media {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: unset;
}

.hackathon-prize-cards-wrapper .card__media img {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: contain;
}

.hackathon-prize-cards-wrapper .card-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.hackathon-prize-cards-wrapper .card__title {
  font-size: var(--step-1);
  font-weight: 600;
  margin: 0;
}

/* Mobile responsive - wraps to 1 column */
@media (max-width: 980px) {
  .hackathon-prize-cards-wrapper {
    grid-template-columns: 1fr;
    gap: 1.875rem;
    border-bottom: 0;
    border-image: none;
  }

  .hackathon-prize-cards-wrapper .card--has-txt {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hackathon-prize-cards-wrapper .card__media img {
    width: 6.25rem;
    height: 6.25rem;
  }

  .hackathon-prize-cards-wrapper .card__title {
    font-size: var(--step-0);
  }
}