/* CTA button content type styles */
.cta--btn__link {
  border-radius: 10em;
  background-color: var(--color-hero-txt);
  padding: var(--space-xs) var(--space-s);
  display: inline-flex;
  align-items: center;
  gap: var(--space-2xs);
  text-underline-offset: 4px;
}

.cta--btn__link::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M11.92 5.62a1.001 1.001 0 0 0-.21-.33l-5-5a1.004 1.004 0 0 0-1.42 1.42L8.59 5H1a1 1 0 0 0 0 2h7.59l-3.3 3.29a1.002 1.002 0 0 0 .325 1.639 1 1 0 0 0 1.095-.219l5-5a1 1 0 0 0 .21-.33 1 1 0 0 0 0-.76Z"/></svg>');
  flex: none;
  width: 0.6em;
  filter: var(--filter-primary);
  transition: transform 150ms ease-in-out;
}

.cta--btn__link:hover::after {
  transform: translateX(0.25rem);
}

[class*="page-node-type-summit"] .cta--btn__link {
  background-color: var(--color-primary-fallback);
  background-color: var(--color-primary);
  color: var(--color-btn-txt);
}

[class*="page-node-type-summit"] .cta--btn__link::after {
  filter: initial;
}

[class*="page-node-type-page"] .cta--btn__link, [class*="page-4"] .cta--btn__link {
  background-color: var(--color-primary-fallback);
  background-color: var(--color-primary);
  color: var(--color-btn-txt);
}

[class*="page-node-type-page"] .cta--btn__link::after, [class*="page-4"] .cta--btn__link::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 12 12"><path d="M11.92 5.62a1.001 1.001 0 0 0-.21-.33l-5-5a1.004 1.004 0 0 0-1.42 1.42L8.59 5H1a1 1 0 0 0 0 2h7.59l-3.3 3.29a1.002 1.002 0 0 0 .325 1.639 1 1 0 0 0 1.095-.219l5-5a1 1 0 0 0 .21-.33 1 1 0 0 0 0-.76Z"/></svg>');
  filter: initial;
}
