.footer-notes {
  padding-inline: 5%;
}
.footer-notes .content-wrapper {
  font-size: var(--step--1);
  padding-block-start: var(--space-2xs);
  border-block-start: 1px solid;
}

.footer-notes ol {
  list-style: none;
  padding: 0;
}

.footnote-backlink {
  font-size: var(--step--2);
}
