.footer-notes {
  padding-inline: 5%;
  font-size: var(--step--1);
}

.footer-notes .content-wrapper::before {
  content: "";
  display: block;
  height: 1px;
  width: 30%;
  top: 0;
  left: 0;
  margin-bottom: var(--space-2xs);
  background-color: black;
}

.footer-notes ol {
  list-style: none;
  padding: 0;
}

.footnote-backlink {
  font-size: var(--step--2);
}
