input:not([type="submit"]):not([type="file"]),
textarea,
select {
  border: 1px solid var(--color-primary-fallback);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding-inline: var(--space-2xs);
  padding-block: var(--space-3xs);
  margin-block: var(--space-3xs);
  background-color: var(--color-frost);
  max-width: 100%;
  font-size: var(--step--1);
}

/* The form block */
.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form.form__header {
  gap: var(--space-s);
}

.form.form__body {
  gap: var(--space-l);
}

.form ul {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.form__image {
  max-width: 4em;
  margin-bottom: var(--space-3xs);
}

.form__body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  border-radius: var(--border-radius);
}

.form .form__input input {
  padding: var(--space-xs) var(--space-s);
  font-size: var(--step-0);
}

.form .radio-fields {
  width: 100%;
}

.form .radio-fields p {
  font-size: var(--step-0);
  margin-bottom: var(--space-xs);
}

.form .radio-fields ul {
  list-style: none;
  padding-left: var(--space-s);
  margin-bottom: var(--space-xs);
  font-size: var(--step--1);
}

@media (max-width: 768px) {
  .form {
    margin: 0 var(--step-1);
  }

  .form__body {
    flex-direction: column;
    align-items: center;
  }
}
