/* Podcast content type styles */
.podcasts__heading {
  margin-block-end: var(--space-xs);
  font-weight: 600;
  font-size: var(--step-2);
}

.podcast {
  margin-block-end: var(--space-s);
}

.podcast:not(:last-of-type) {
  padding-block-end: var(--space-3xs);
  border-block-end: 2px solid var(--color-gray);
}

.podcast p {
  margin-block-end: var(--space-s);
}

.podcast-iframe {
  background-image: url(../img/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
