.text-card {
  border-radius: 18px;
  margin-inline: auto;
}

.text-card__media {
  width: 100%;
}

.text-card-content-wrapper {
  padding: var(--space-xs) var(--space-s);
  border-end-start-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
}

/* Summit 2025 Track block styling */
.summit-track-wrapper {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 899px) {
  .summit-track-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.summit-track-wrapper .text-card {
  width: 100%;
  height: 100%;
}

.summit-track-wrapper .text-card:first-of-type {
    border: 1px solid #A26CFD;
}

.summit-track-wrapper .text-card:nth-of-type(2) {
    border: 1px solid #F7AA54;
}

.summit-track-wrapper .text-card:nth-of-type(3) {
    border: 1px solid #5BC6B9;
}

.summit-track-wrapper .text-card:last-of-type {
    border: 1px solid #FF81C5;
}

.summit-track-wrapper h3 {
    font-size: var(--step-2);
}

.summit-track-wrapper .text-card__media {
    padding: var(--space-l);
    padding-bottom: 0px;
}

.summit-track-wrapper .text-card-content-wrapper {
    padding: var(--space-l);
}
