/* Tile content type styling */
.tile {
  padding: var(--space-s);
}

.tile--number {
  text-align: center;
}

.tile__number {
  font-size: var(--step-4);
}

.tile__icon {
  height: 2em;
  width: 2em;
  margin-inline-start: var(--space-2xs);
  margin-block-end: var(--space-2xs);
}

.tile__feature {
  padding-inline-start: var(--space-2xs);
  border-inline-start: 2px solid var(--color-primary-fallback);
  border-inline-start: 2px solid var(--color-primary);
  margin-block-end: var(--space-2xs);
  font-weight: bold;
}

.tile--feature .tile__description {
  padding-inline-start: var(--space-2xs);
}
